rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /kitabs/{kitabId} {
      allow read, write: if true; // Public access for app users
    }
  }
}
